{
   project =
   {
      description="👣 Stracktrace support for various OS";
      domain="github";
      language="c";
      dialect="c";
      name="mulle-stacktrace";
      version="0.5.0";
      user="mulle-core";
      repo="mulle-stacktrace";
      homepage="https://github.com/mulle-core/mulle-stacktrace";
      license="BSD-3-Clause";
   };
   dependencies =
   (
      {
         description="♿️ Shared library helper";
         domain="github";
         name="mulle-dlfcn";
         repo="mulle-dlfcn";
         url="https://github.com/mulle-core/mulle-dlfcn";
         user="mulle-core";
      },
      {
         description="A C library that may be linked into a C/C++ program to produce symbolic backtraces";
         domain="github";
         name="libbacktrace";
         repo="libbacktrace";
         url="https://github.com/mulle-core/libbacktrace";
         user="mulle-core";
      }
   );
}
